@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Maitree:wght@200;300;400;500;600;700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,200;1,200&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-sisal-50: #f8f6f4;
  --color-sisal-100: #efebe5;
  --color-sisal-200: #d9cfc1;
  --color-sisal-300: #c9bba8;
  --color-sisal-400: #b39b84;
  --color-sisal-500: #a3856c;
  --color-sisal-600: #967560;
  --color-sisal-700: #7d6051;
  --color-sisal-800: #675045;
  --color-sisal-900: #54423a;
  --color-sisal-950: #2c221e;

  --color-driftwood-50: #f7f4ef;
  --color-driftwood-100: #eae4d7;
  --color-driftwood-200: #d7c9b1;
  --color-driftwood-300: #c0a684;
  --color-driftwood-400: #ad8962;
  --color-driftwood-500: #a77e58;
  --color-driftwood-600: #886146;
  --color-driftwood-700: #6e4b3a;
  --color-driftwood-800: #5d4036;
  --color-driftwood-900: #513832;
  --color-driftwood-950: #2e1d1a;

  --shadow-all-over: 0 1px 4px 1px rgba(0, 0, 0, 0.25);
  --shadow-inset: 0 -20px 10px -10px rgba(0, 0, 0, 0.25) inset;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.maitree-extralight {
  font-family: "Maitree", serif;
  font-weight: 200;
  font-style: normal;
}

.maitree-light {
  font-family: "Maitree", serif;
  font-weight: 300;
  font-style: normal;
}

.maitree-regular {
  font-family: "Maitree", serif;
  font-weight: 400;
  font-style: normal;
}

.maitree-medium {
  font-family: "Maitree", serif;
  font-weight: 500;
  font-style: normal;
}

.maitree-semibold {
  font-family: "Maitree", serif;
  font-weight: 600;
  font-style: normal;
}

.maitree-bold {
  font-family: "Maitree", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.palanquin-thin {
  font-family: "Palanquin", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.palanquin-extralight {
  font-family: "Palanquin", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.palanquin-light {
  font-family: "Palanquin", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.palanquin-regular {
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.palanquin-medium {
  font-family: "Palanquin", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.palanquin-semibold {
  font-family: "Palanquin", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.palanquin-bold {
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
  font-style: normal;
}